@charset "utf-8";

/* Global constants and bulma overrides */
@use "styles/_constants.scss";
@use "styles/theme.scss";

/* NoFlo Fontawesome Patch */
@use "styles/_fontawesome.scss";

/* NoFlo Editor Stylesheets */
@use "styles/the-graph-dark.scss";
@use "styles/the-graph-light.scss";

/* Bulma CSS */
@import "~bulma/bulma";

/* Remove Bulma number definition (breaks JSON syntax highlighting) */
.number {
	align-items: unset;
	background-color: unset;
	border-radius: unset;
	display: unset;
	font-size: unset;
	height: unset;
	justify-content: unset;
	margin-right: unset;
	min-width: unset;
	padding: unset;
	text-align: unset;
	vertical-align: unset;
}

/* Custom Fonts */
@import "~@fontsource/comfortaa/index.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

/* Global CSS */
body {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

p {
	font-family: "comfortaa";
	@include theme.themed() {
		color: theme.t(theme.$text-secondary);
	}
}

h2 {
	font-family: "comfortaa";
	font-weight: 50;
	font-size: 1.5rem;
	@include theme.themed() {
		color: theme.t(theme.$text-primary);
	}
}

h3 {
	font-family: "comfortaa";
	font-weight: 30;
	font-size: 1rem;
	@include theme.themed() {
		color: theme.t(theme.$text-primary);
	}
}
