@charset "utf-8";

/* Global constants and bulma overrides */
@use "scss/constants.scss";
@use "scss/theme.scss";

@import "~bulma/bulma";

/* Custom Fonts */
@import "~@fontsource/comfortaa/index.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

/* NoFlo Editor Stylesheets */
@import "scss/the-graph-dark.scss";
@import "scss/the-graph-light.scss";

/* Global CSS */
body {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

p {
	font-family: "comfortaa";
	@include theme.themed() {
		color: theme.t(theme.$text-secondary);
	}
}

h2 {
	font-family: "comfortaa";
	font-weight: 50;
	font-size: 1.5rem;
	@include theme.themed() {
		color: theme.t(theme.$text-primary);
	}
}
